@charset "utf-8";

div.box-pc p {
  font-size: 12px !important;
  height: 40px;
}

.progress-bar-laranja {
  background-color: #ffb89e !important; 
}

.progress-bar-lilas {
  background-color: #9932CC !important;
}